
.white-text{
color: white;
}
.header{
    background-color: rgb(55, 0, 60);
}
.header .nav-link{
    
    color: #fff;
}
.header .nav-link:hover, .header .nav-link.active{
    
    color: rgb(0, 255, 135);
}
.jumbotron{
    border-radius: 0%;
}
.btn-success{
    
}